# No dot-directories except github/vscode
.*/
!.vscode/
!.github/
!.yarn/

*.code-workspace
*.bak
node_modules
nbproject
admin/build
src-widgets/build
src-widgets/node_modules

.prettierr.js
.prettierrignore
toBeDeleted.create-adapter.json

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt